---
import Layout from "../layouts/Layout.astro";
---

<style>
  @import url("./_index.css");
</style>

<Layout title="Rien Heuver - slagwerker, dirigent & docent">
  <header>
    <img src="/header-picture.jpeg" alt="Rien Heuver dirigerend" />

    <div class="header-right">
      <h1>
        <span>Rien Heuver</span>
        <span class="sub">Slagwerker, dirigent & docent</span>
      </h1>

      <menu>
        <a href="#over-mij">Over mij</a>
        <a href="#diensten">Diensten</a>
        <a href="#media">Foto's & video's</a>
        <a href="#contact">Contact</a>
      </menu>
    </div>
  </header>

  <section id="it">
    <span>
      Op zoek naar Rien de IT'er? Klik <a href="https://riskchallenger.nl"
        >hier</a
      >
    </span>
  </section>

  <section id="over-mij" aria-hidden="true">
    <img class="logo" src="./logo.svg" alt="Mufasa" />
    <h2>Over mij</h2>
    <em>Nerd by day, musician by night</em>
    <p>
      Mijn naam is Rien, geboren in november 1992 en in 2004 begonnen met
      muziek. In het dagelijks leven ben ik ondernemer in de IT, als
      mede-eigenaar van <a href="https://riskchallenger.nl">RiskChallenger</a>,
      maar in de avonduren ben ik slagwerker: ik speel graag zelf (melodisch en
      percussie), maar ik geef ook les, dirigeer slagwerkgroepen en schrijf
      arrangement en af en toe eigen werken.
    </p>

    <h3>Huidig</h3>
    <div class="p-and-image">
      <p>
        Op dit moment ben ik slagwerkdirigent & -docent bij <a
          href="https://nooitgedacht-windesheim.nl">Nooit Gedacht Windesheim</a
        >. Hier geef ik les aan een vijftal leerlingen tussen de 8 en 27 jaar
        van wisselend niveau. Daarnaast speel ik zelf nog bij <a
          href="https://kamv.nl">KAMV</a
        > te Amersfoort.
      </p>
      <img src="./ng-logo.svg" alt="Logo Nooit Gedacht Windesheim" />
    </div>

    <h3>Geschiedenis</h3>
    <div class="p-and-image">
      <p>
        In 2003, toen ik 11 was, ben ik begonnen met trommelles bij Gerko van
        Olst. In de 7 jaar dat ik les van hem heb gehad heb ik mijn
        HaFaBra-diploma’s A, B en C gehaald voor de kleine trom (snaredrum). Als
        onderdeel daarvan was ik ook al veel bezig met melodisch slagwerk. Onder
        Gerko heb ik jarenlang gespeeld bij de malletband van <a
          href="https://sdgheerde.nl">SDG Heerde</a
        >, die inmiddels helaas niet meer bestaat.
      </p>
      <img src="./sdg.png" alt="Logo SDG Heerde" />
    </div>
    <div class="p-and-image">
      <p>
        Enkele jaren later, in 2013, heb ik auditie gedaan voor een
        minor-opleiding aan het <a href="https://artez.nl"
          >ArtEZ-conservatorium</a
        > te Enschede. Na toelating heb ik hier een halfjaar gestudeerd en les gehad
        van Hans Grutterink op marimba en vibrafoon. Na dat halve jaar bleef Hans
        me nog anderhalf jaar les geven, waar ik enorm veel van heb geleerd. In die
        tijd heb ik daarnaast ook veel invalopdrachten gedaan bij diverse orkesten
        in het oosten van het land, waaronder meermaals bij het Oost-Nederlands Symfonie
        Orkest.
      </p>
      <img src="./artez.svg" alt="Logo ArtEZ conservatorium" />
    </div>
    <p>
      Na mijn halfjaar conservatoriumopleiding heb ik een aantal jaren in
      diverse bandjes gespeeld als drummer waarmee we optraden in kroegen, op
      bruiloften etc. Daarnaast viel ik ook in die tijd nog regelmatig in bij
      harmonieën, fanfares en symfonieorkesten.
    </p>
    <div class="p-and-image">
      <p>
        In al die tijd als muzikant in verschillende vormen begon ik steeds meer
        zin te krijgen in mijn kennis en ervaring overdragen op nieuwe
        muzikanten; ik wilde les geven! Eind 2019 ontstond er een prachtige kans
        bij muziekvereniging Nooit Gedacht in Windesheim. Daar ben ik in januari
        2020 begonnen als slagwerkdocent en -dirigent waar ik nog altijd
        individueel les geef aan een aantal leerlingen en ook de drumband
        probeer muzikaal vooruit te helpen.
      </p>
      <img src="./ng-logo.svg" alt="Logo Nooit Gedacht Windesheim" />
    </div>
  </section>

  <section id="diensten">
    <h2>Diensten</h2>
    <div class="services-grid">
      <div class="card">
        <img
          src="./icons/conductor.svg"
          alt="Icon van dirigent"
          aria-hidden="true"
        />
        <h3>Directie van slagwerkensembles, malletbands et cetera</h3>
        <p>
          Slagwerkensembles vernieuwen, muzikaal verder brengen en met hen leuke
          initiatieven ondernemen; daar word ik enthousiast van. Ik wil slagwerk
          graag beter bekend maken onder het grote publiek als een afdeling in
          de muziek die naast ritmisch ook melodisch prachtig kan zijn.
          Samenwerkingsconcerten met andere disciplines zoals orkesten, koren en
          bandjes vind ik prachtig om invulling aan te mogen geven.
        </p>
      </div>
      <div class="card">
        <div class="images">
          <img
            src="./icons/drums.svg"
            alt="Icon van drumstel"
            aria-hidden="true"
          />
          <img
            src="./icons/marimba.svg"
            alt="Icon van drumstel"
            aria-hidden="true"
          />
        </div>
        <h3>Slagwerkles; melodisch, drums, percussie</h3>
        <p>
          Ik geef graag les aan leerlingen van alle niveaus. Nog nooit een
          trommel aangeraakt of juist op zoek naar nieuwe uitdaging op marimba?
          Ik help graag!
        </p>
      </div>
      <div class="card">
        <img
          src="./icons/sheet-music.svg"
          alt="Icon van bladmuziek"
          aria-hidden="true"
        />
        <h3>Arrangeeropdrachten voor slagwerk</h3>
        <p>
          In de afgelopen jaren heb ik diverse arrangementen geschreven:
          popmuziek voor kleine bezetting (Beatles, Coldplay, Efteling etc.),
          werken voor malletbands (James Bond, Handsome Poets) en een aantal
          swingende kerstliedjes voor ensembles op instapniveau.
        </p>
        <p>
          Wil je een bepaald stuk graag spelen met jouw slagwerkgroep? Laat het
          me weten, ik help graag verder!
        </p>
      </div>
      <div class="card">
        <img
          src="./icons/person-search.svg"
          alt="Icon van iemand zoeken"
          aria-hidden="true"
        />
        <h3>Invalopdrachten voor slagwerk, zowel gestemd als ongestemd</h3>
        <p>
          Een uitdagende slagwerkpartij om een orkest met mooie werken compleet
          te maken? Ik vul graag die rol in; of het nou gaat om ongestemd
          slagwerk of percussie of dat het juist gaat om gestemd slagwerk zoals
          een mooie marimbapartij.
        </p>
      </div>
    </div>
  </section>

  <section id="media">
    <h2>Foto's & video's</h2>
    <div class="media-grid">
      <img
        src="./media/concert-wijhe.jpg"
        alt="Concert in Wijhe, foto van achter marimba"
      />
      <img
        src="./media/muziekkamer.jpg"
        alt="Foto van mijn werk- en muziekkamer"
      />
      <img
        src="./media/concert-kamv.jpg"
        alt="Foto van een concert met KAMV in Amersfoort"
      />
      <img
        src="./media/concert-carmina.jpg"
        alt="Foto van een concert met Carmina Burana in Duitsland"
      />
    </div>
  </section>

  <section id="contact">
    <h2>Contact</h2>
    <div class="contact-details">
      <div class="contact-row">
        <img src="./icons/mail.svg" alt="Email icon" aria-hidden="true" />
        <a href="mailto:slagwerk@rienheuver.nl">slagwerk@rienheuver.nl</a>
      </div>
      <div class="contact-row">
        <img src="./icons/phone.svg" alt="Telefoon icon" aria-hidden="true" />
        <a href="tel:+31631767064">06 3176 7064</a>
      </div>
    </div>
  </section>

  <section id="copyright">
    <span>Copyright &copy; Rien Heuver</span>
  </section>
</Layout>
